= render "common/main_header"

.contents
  = render "common/left_side_menu"
  .contents__right
    .contents__right__user
      木村太郎
      お知らせ
      やることリスト
    .contents__right__items
      購入した商品
      取引中
      過去の取引
