.body{
  .container{
    background-color: lightgray;
    .header{
      text-align: center;
      &__logo{
        &--image{
          width: 200px;
          height: 50px;
        }
      }
    }
    .form{
      margin: 0 auto;
      width: 700px;
      padding: 40px;
      background-color: #ffffff;
      &__image{
        &--content{
          .content{
            &__image{
              &--title{
                label{
                  font-weight: bolder;
                  padding-right: 10px;
                }
                span{
                  background-color: red;
                  color: #ffffff;
                  border-radius: 5px;
                  padding: 2px;
                }
              }
            }
          }
        }
      }
      &__description{
        &--content{
          .content{
            &__description_name{
              &--title{
                label{
                  font-weight: bolder;
                  padding-right: 10px;
                }
                span{
                  background-color: red;
                  color: #ffffff;
                  border-radius: 5px;
                  padding: 2px;
                }
              }
            }
            &__description_text{
              &--title{
                label{
                  font-weight: bolder;
                  padding-right: 10px;
                }
                span{
                  background-color: red;
                  color: #ffffff;
                  border-radius: 5px;
                  padding: 2px;
                }
              }
            }
          }
        }
      }
      &__detail{
        &--content{
          .content{
            &__detail_category{
              p.detail_category{

              }
              &--title{
                label{
                  font-weight: bolder;
                  padding-right: 10px;
                }
                span{
                  background-color: red;
                  color: #ffffff;
                  border-radius: 5px;
                  padding: 2px;
                }
              }
            }
            &__detail_brand{
              &--title{
                label{
                  font-weight: bolder;
                  padding-right: 10px;
                }
                span{
                  background-color: gray;
                  color: #ffffff;
                  border-radius: 5px;
                  padding: 2px;
                }
              }
                
            }
            &__detail_condition{
              &--title{
                label{
                  font-weight: bolder;
                  padding-right: 10px;
                }
                span{
                  background-color: red;
                  color: #ffffff;
                  border-radius: 5px;
                  padding: 2px;
                }
              }
            }
          }
        }
      }
      &__shipment{
        &--content{
          .content{
            &__shipment_fee{
              &--title{
                label{
                  font-weight: bolder;
                  padding-right: 10px;
                }
                span{
                  background-color: red;
                  color: #ffffff;
                  border-radius: 5px;
                  padding: 2px;
                }
              }
            }
            &__shipment_region{
              &--title{
                label{
                  font-weight: bolder;
                  padding-right: 10px;
                }
                span{
                  background-color: red;
                  color: #ffffff;
                  border-radius: 5px;
                  padding: 2px;
                }
              }
            }
            &__shipment_schedule{
              &--title{
                label{
                  font-weight: bolder;
                  padding-right: 10px;
                }
                span{
                  background-color: red;
                  color: #ffffff;
                  border-radius: 5px;
                  padding: 2px;
                }
              }
            }
          }
        
        }
      }
      &__price{
        &--content{
          .content{
            &__price{
              p.price_range{

              }
              &--title{
                label{
                  font-weight: bolder;
                  padding-right: 10px;
                }
                span{
                  background-color: red;
                  color: #ffffff;
                  border-radius: 5px;
                  padding: 2px;
                }
              }
              &--tax{

              }
              &--profit{

              }
            }
          }
        }
      }
      &__send{
        &--content{
          .content{
            &__image{
              &--title{
                label{
                  font-weight: bolder;
                  padding-right: 10px;
                }
                span{
                  background-color: red;
                  color: #ffffff;
                  border-radius: 5px;
                  padding: 2px;
                }
              }
            }
          }
        }
        &--note{
          p{

          }
        }
      }  
    }
    .footer{
      text-align: center;
      &__logo{
        &--image{
          width: 200px;
          height: 50px;
        }
      }
      &__copy_right{
        p{
          
        }
      }
    }
  }
}