<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p>

<% if user_signed_in? %>
  <%= link_to "サインアウト(仮置)",destroy_user_session_path,method: :delete %>
  <a href="/">マイページ</a>
<% else %>
  <%= link_to "会員登録",new_user_registration_path %>
  <%=  link_to "サインイン",new_user_session_path %>
<% end %>
