<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <title>FURIMA</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="WcjRjsEZMvD1v1lueTLqCAQM8lVWO0EoaKCTUBwRlMYpAuaF+FhGNOESPLyCAYr6bwFZnN15qkhRX+3e0JATAQ==" />
    <link rel="stylesheet" media="all" href="/assets/application-2e096b94f60fe4efbadc0b2fe0199ebc3f338134ada36d1d73b67e994e191614.css" data-turbolinks-track="reload" />
    <script src="/assets/application-26d056ac003f4e4f9d1ad389ac9e51f4f59d6236cc12a75b4ca86167f653c860.js" data-turbolinks-track="reload"></script>
  </head>
  <body>
    <header class='pcHeader'>
      <div class='headerInner'>
        <div class='mainHeader'>
          <h1 class='icon'>
            <a href="/">
              <img src="/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg" />
            </a>
          </h1>
          <div class='searchBox'>
            <form action="#" accept-charset="UTF-8" method="get">
              <input name="utf8" type="hidden" value="&#x2713;" />
              <input class='searchBox--input' id='searchInput' name='key' placeholder='キーワードから探す'>
              <button type="submit">
                <div class="searchBox__icon">
                  <img src="/assets/icon-search-60a83ada85216fe00789cd16065281694d9a08948275fef83683fadcf131d84d.svg">
                </div>
              </button>
              <input type="hidden" name="authenticity_token" value="rGvQaEoXiWof9CviOMrABrWg8GvnR7RZ5CihIgqhun1x4Av6XJI7jRd8fffRfP5WFLbFT4wp6lPDQB+RLe9aTA==" /></form></input>
            </form>
          </div>
          <ul class='resultLists'></ul>
        </div>
        <div class='nav'>
          <ul class='listsLeft'>
            <li class='listsLeft__item listsLeft__item--first'>
              <a id="catBtn" href="#">カテゴリー</a>
              <div class='tree displayNone'>
                <ul class='categoryTree'>
                  <li class='categoryTree--item'>
                    <a id="1" href="#">レディース</a>
                  </li>
                  <li class='categoryTree--item'>
                    <a id="2" href="#">メンズ</a>
                  </li>
                  <li class='categoryTree--item'>
                    <a id="3" href="#">ベビー・キッズ</a>
                  </li>
                  <li class='categoryTree--item'>
                    <a id="4" href="#">インテリア・住まい・小物</a>
                  </li>
                  <li class='categoryTree--item'>
                    <a id="5" href="#">本・音楽・ゲーム</a>
                  </li>
                  <li class='categoryTree--item'>
                    <a id="6" href="#">おもちゃ・ホビー・グッズ</a>
                  </li>
                  <li class='categoryTree--item'>
                    <a id="7" href="#">コスメ・香水・美容</a>
                  </li>
                  <li class='categoryTree--item'>
                    <a id="8" href="#">家電・スマホ・カメラ</a>
                  </li>
                  <li class='categoryTree--item'>
                    <a id="9" href="#">スポーツ・レジャー</a>
                  </li>
                  <li class='categoryTree--item'>
                    <a id="10" href="#">ハンドメイド</a>
                  </li>
                  <li class='categoryTree--item'>
                    <a id="11" href="#">チケット</a>
                  </li>
                  <li class='categoryTree--item'>
                    <a id="12" href="#">自動車・オートバイ</a>
                  </li>
                  <li class='categoryTree--item'>
                    <a id="13" href="#">その他</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class='listsLeft__item'>
              <a id="brandBtn" href="#">ブランド</a>
              <ul class='brandsPulldown displayNone'>
              </ul>
            </li>
          </ul>
          <ul class='listsRight'>
            <li class='listsRight__item listsRight__item--login'>
              <a href="#">ログイン</a>
            </li>
            <li class='listsRight__item listsRight__item--new'>
              <a href="#">新規会員登録</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class='main'>
      <section class='mainVisual'>
        <div class='content'>
          <h2 class='content__subtitle'>
            <br>
            "
            人生を変えるフリマアプリ
            " 
          </h2>
          <p class='content__text'>
            "
            FURIMAはだれでもかんたんに出品・購入できる
            "
            <br>
            "
            フリマアプリです
            "
          </p>
          <div class='content__btn'>
            <a class="aBtn" href="#">
              <img src="/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg" />
            </a>
            <a class="gBtn" href="#">
              <img src="/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg" />
            </a>
          </div>
        </div>
        <div class='picture'></div>
      </section>
      <section class='topIntroduction'>
        <h2 class='subtitle'>
          "
          FURIMAが選ばれる3つの理由
          ""
        </h2>
        <ul class='lists'>
          <li class='list'>
            <div class='list__pict'>
              <span class='number'>1</span>
              <img src="/assets/pict-reason-01-77b860b45f32923029756050dafc0f6df01a36675414b0f26f127c64a53baaea.jpg" />
            </div>
            <h3 class='list__text'>
              <span>3分</span>
              "
              ですぐに出品
              ""
            </h3>
            <p class='list__description'>
            スマホで入力するだけで簡単に出品できる！
            </p>
          </li>
          <li class='list'>
            <div class='list__pict'>
              <span class='number'>2</span>
              <img src="/assets/pict-reason-02-3471b96ea7b52654510992e57dc05af07926de0836200059b7fa4ead05ee4d56.jpg" />
            </div>
            <h3 class='list__text'>
            <span>シンプル</span>
              "
              で使いやすい
              "
            </h3>
            <p class='list__description'>
            めんどくさい入力は必要なく、検索も購入もスムーズ！
            </p>
          </li>
          <li class='list list--last'>
            <div class='list__pict'>
              <span class='number'>3</span>
              <img src="/assets/pict-reason-03-1e3c743f3ba3db8c43987d2e257916a615aa8fc59c02bbc116f041a5580ec28f.jpg" />
            </div>
            <h3 class='list__text'>
              "
              手数料
              "
              <span>業界最安</span>
            </h3>
            <p class='list__description'>
            最大3%でお得に出品&購入！
            </p>
          </li>
        </ul>
      </section>
      <section class='topMiddleDl'>
        <div class='topMiddleDl__inner'>
          <h2 class='subtitle'>会員数日本一位</h2>
          <p class='text'>
            "
            FURIMAは、フリマアプリで最も人気。
            "
            <br>
            "
            出品・購入回数も業界最多です！
            "
            <br>
            "
            ほしかったあの商品に出会えるかもしれません。
            "
          </p>
          <div class='btn'>
            <a href="#">
              <img class="aBtn" src="/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg" />
            </a>
            <a href="#">
              <img class="gBtn" src="/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg" />
            </a>
          </div>
        </div>
      </section>
      <section class='topKeyFeatures'>
        <h2 class='head'>
          "FURIMAの特徴"
          ::after
        </h2>
        <div class='items'>
          <section class='item'>
            <figure class='item__img'>
              <img src="/assets/icon-01-7f6abf70ea7deaed9ab5d8b6d5cb796250e3e292b9ecdc559ebe6492c31fdab8.svg" />
            </figure>
            <h3 class='item__subtitle'>簡単に売り買いできる</h3>
            <p class='item__detail'>
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
            </p>
          </section>
          <section class='item'>
            <figure class='item__img'>
              <img src="/assets/icon-03-9c0d78266a316fec7b738dcf5c68dd987afb9655b13fd2cd5d30bcf09e827694.svg" />
            </figure>
            <h3 class='item__subtitle'>売上金は即日振込みに対応</h3>
            <p class='item__detail'>
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
            </p>
          </section>
          <section class='item'>
            <figure class='item__img'>
              <img src="/assets/icon-04-c4052f85cd6e1f62ea8cac8c55277d7fa4bda971d924f8a2afe72eea6558fa85.svg" />
            </figure>
            <h3 class='item__subtitle'>様々な支払いに対応</h3>
            <p class='item__detail'>
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
            </p>
          </section>
        </div>
      </section>
      <section class='pickupContainer'>
        <h2 class='head'>ピックアップカテゴリー</h2>
        <div class='productBox'>
          <div class='productHead'>
            <a href="#">
              <h3 class='title'>新規投稿商品</h3>
            </a>
          </div>
          <div class='productLists'>
            <div class='productList'>
              <a href="/products/9">
                <figure class='productList--img'>
                  <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/18/beef.JPG" />
                </figure>
                <div class='productList--body'>
                  <h3 class='name'>テスト</h3>
                  <div class='details'>
                    <ul>
                      <li>10000円</li>
                      <li>
                        <i class="fa fa-star likeIcon">
                          ::before
                        </i> 
                        "1
                        "
                      </li>
                    </ul>
                    <p>(税込)</p>
                  </div>
                </div>
              </a>
            </div>
            <div class='productList'>
              <a href="/products/8">
                <figure class='productList--img'>
                  <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG" />
                </figure>
                <div class='productList--body'>
                  <h3 class='name'>ee</h3>
                  <div class='details'>
                    <ul>
                      <li>1000円</li>
                      <li>
                        <i class="fa fa-star likeIcon">
                          ::before
                        </i> 
                        "0
                        "
                      </li>
                    </ul>
                    <p>(税込)</p>
                  </div>
                </div>
              </a>
            </div>
            <div class='productList'>
              <a href="/products/3">
                <figure class='productList--img'>
                  <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png" />
                </figure>
                <div class='productList--body'>
                  <h3 class='name'>product3</h3>
                  <div class='details'>
                    <ul>
                      <li>30000円</li>
                      <li>
                        <i class="fa fa-star likeIcon">
                          ::before
                        </i> 
                        "0
                        "
                      </li>
                    </ul>
                    <p>(税込)</p>
                  </div>
                </div>
              </a>
            </div>
            <div class='productList'>
              <a href="/products/2">
                <figure class='productList--img'>
                  <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png" />
                </figure>
                <div class='productList--body'>
                  <h3 class='name'>product2</h3>
                  <div class='details'>
                    <ul>
                      <li>20000円</li>
                      <li>
                        <i class="fa fa-star likeIcon"></i> 
                        "0
                        "
                      </li>
                    </ul>
                    <p>(税込)</p>
                  </div>
                </div>
              </a>
            </div>
            <div class='productList'>
              <a href="/products/1">
                <figure class='productList--img'>
                  <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png" />
                </figure>
                <div class='productList--body'>
                  <h3 class='name'>product1</h3>
                  <div class='details'>
                    <ul>
                      <li>10000円</li>
                      <li>
                        <i class="fa fa-star likeIcon">
                        ::before
                        </i> 
                        "1
                        "
                      </li>
                    </ul>
                    <p>(税込)</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class='pickupContainer'>
        <h2 class='head'>ピックアップブランド</h2>
        <div class='productBox'>
          <div class='productHead'>
            <a href="#">
              <h3 class='title'>アーカイバ</h3>
            </a>
          </div>
          <div class='productLists'>
            <div class='productList'>
              <a href="/products/9">
                <figure class='productList--img'>
                  <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/18/beef.JPG" />
                </figure>
                <div class='productList--body'>
                  <h3 class='name'>テスト</h3>
                  <div class='details'>
                    <ul>
                      <li>10000円</li>
                      <li>
                        <i class="fa fa-star likeIcon">
                        ::before
                        </i> 
                        "1
                        "
                      </li>
                    </ul>
                    <p>(税込)</p>
                  </div>
                </div>
              </a>
            </div>
            <div class='productList'>
              <a href="/products/8">
                <figure class='productList--img'>
                  <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG" />
                </figure>
                <div class='productList--body'>
                  <h3 class='name'>ee</h3>
                  <div class='details'>
                    <ul>
                      <li>1000円</li>
                      <li>
                        <i class="fa fa-star likeIcon">
                        ::before
                        </i> 
                        "0
                        "
                      </li>
                    </ul>
                    <p>(税込)</p>
                  </div>
                </div>
              </a>
            </div>
            <div class='productList'>
              <a href="/products/3">
                <figure class='productList--img'>
                  <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png" />
                </figure>
                <div class='productList--body'>
                  <h3 class='name'>product3</h3>
                  <div class='details'>
                    <ul>
                      <li>30000円</li>
                      <li>
                        <i class="fa fa-star likeIcon">
                        :: before
                        </i> 
                        "0
                        "
                      </li>
                    </ul>
                    <p>(税込)</p>
                  </div>
                </div>
              </a>
            </div>
            <div class='productList'>
              <a href="/products/2">
                <figure class='productList--img'>
                  <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png" />
                </figure>
                <div class='productList--body'>
                  <h3 class='name'>product2</h3>
                  <div class='details'>
                    <ul>
                      <li>20000円</li>
                      <li>
                        <i class="fa fa-star likeIcon">
                        ::before
                        </i> 
                        "0
                        "
                      </li>
                    </ul>
                    <p>(税込)</p>
                  </div>
                </div>
              </a>
            </div>
            <div class='productList'>
              <a href="/products/1">
                <figure class='productList--img'>
                  <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png" />
                </figure>
                <div class='productList--body'>
                  <h3 class='name'>product1</h3>
                  <div class='details'>
                    <ul>
                      <li>10000円</li>
                      <li>
                        <i class="fa fa-star likeIcon">
                          ::before
                        </i> 
                        "1
                        "
                      </li>
                    </ul>
                    <p>(税込)</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <aside class='appBanner'>
      <div class='inner'>
        <h2 class='inner__title'>だれでもかんたん、人生を変えるフリマアプリ
        </h2>
        <p class='inner__text'>今すぐ無料ダウンロード！</p>
        <div class='inner__icon'>
          <a href="#">
            <img class="linkIcon aBtn" src="/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg" />
          </a>
          <a href="#">
            <img class="linkIcon gBtn" src="/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg" />
          </a>
        </div>
      </div>
    </aside>

    <div class='footer'>
      <ul class='contents'>
        <li class='content'>
          <h2 class='content__head'>FURIMAについて</h2>
          <ul>
            <li>
              <a href="#">会社概要（運営会社）</a>
            </li>
            <li>
              <a href="#">プライバシーポリシー</a>
            </li>
            <li>
              <a href="#">FURIMA利用規約</a>
            </li>
            <li>
              <a href="#">ポイントに関する特約</a>
            </li>
          </ul>
        </li>
        <li class='content'>
          <h2 class='content__head'>FURIMAを見る</h2>
          <ul>
            <li>
              <a href="#">カテゴリー一覧</a>
            </li>
            <li>
              <a href="#">ブランド一覧</a>
            </li>
          </ul>
        </li>
        <li class='content'>
          <h2 class='content__head'>ヘルプ＆ガイド</h2>
          <ul>
            <li>
              <a href="#">FURIMAガイド</a>
            </li>
            <li>
              <a href="#">FURIMAロゴ利用ガイドライン</a>
            </li>
            <li>
              <a href="#">お知らせ</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class='footer__logo'>
        <a href="/">
          <img src="/assets/logo-white-f61961ed5170064c5f33dd4524bdceeb5a5df2c83eb76fba31143f63fbab2c5e.svg" />
        </a>
      </div>
      <p>© FURIMA</p>
    </div>

    <a href="#">
      <div class='purchaseBtn'>
        <span class='purchaseBtn__text'>出品する</span>
        <img class="purchaseBtn__icon" src="/assets/icon_camera-968c5ebaa05319bf1e2ad7508f852dd712504a4d26a1930d8bd87ec03ebcc37a.svg" />
      </div>
    </a>
  </body>
</html>
