.body
  .header
    = link_to "#", class: "header__logo" do
      -# = image_tag "#", class: "header__logo--image"
  .form
    .form__image
      .form__image--content
    .form__item_description
      .form__item-description--content
    .form__item_detail
      .form__item-detail--content
    .form__shipment
      .form__shipment--content
    .form__price
      .form__price--content
    .form__send
      .form__send--content
      .form__send--note
  .footer
    = link_to "#", class: "footer__logo" do
      -# = image_tag "#", class: "footer__logo--image"
    .footer__copy_right
      %p © FURIMA, Inc