%header.registrationHeader
  %h1= link_to image_tag("logo.svg"), root_path


-# .registration
-#   %main
-#     %section
-#       %h2.registrationHeader 会員情報入力
       



%footer.registrationFooter
  %nav
    %ul
      %li= link_to "プライバシーポリシー",root_path
      %li= link_to "メルカリ利用規約",root_path
      %li= link_to image_tag("logo-white.svg"),root_path
  %p
    %small © FURIMA

