#cardNew{
  &__form {
    background: #eeeeee;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    width: 100vw;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
    overflow:scroll;
    &--input{
      background:#ffffff;
      min-width:370px;
      padding:5px;
    }
    &--errMessage{
      width:80%;
      height:30px;
      color:#ff0000;
      font-size:16px;
      line-height:16px;
    }
    &--submit{
      margin:0 0 0 auto;
    }
    &--type,&--num,&--name,&--delete{
      width: 100%;
      margin: 0;
      font-size: 16px;
      text-align: right;
    }
    &--type{
      text-align: left;
    }
    &--num{
      font-size: 18px;
    }
    &--delete{
      input{
        width: 20%;
        margin:5px 0 0;
        font-size: 12px;
        border: solid 1px;
        border-radius: 5px;
      }
    }
  }
}





@media screen and (min-width:768px) {
  #cardNew{
    &__form {
      width: 390px;
    }
  }
}