.header__all {
  padding: 0 60px;

  .header__all__main {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;

    .mainHeader {
      position: relative;
      display: flex;
      align-items: center;

      .icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;

        a {
          width: 140px;
          display: block;
        }
        img {
          width: 100%;
          vertical-align: bottom;
        }
      }
    }
  }
}



.header__all .header__all__main {
  .mainHeader {
    .searchmain {
      margin-left: auto;
      width: 100%;

      form {
        width: 100%;
        display: flex;
        margin-bottom: 5px;

        input {
          width: calc(100% - 26px);
          height: 36px;
          padding: 0 0 0 5px;
        }

        button {
          width: 36px;
          border: 0;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 8px;
        }
      }
    }

    .result-Lists {
      display: flex;
      position: absolute;
      right: 0;
      top: 36px;
      z-index: 2;
    }
  }

  .nav {
    font-size: 14px;
    display: flex;
    margin-bottom: 10px;

    .listsLeft {
      position: relative;
      display: flex;
    }

    .header__all .header__all__main .nav .listsLeft__item {
      line-height: 38px;
      //padding: 0 0 0 16px;//
      list-style: none;
      a {
        color: #333;
        text-decoration: none;
        //padding-right: 80px;//
      }
}

    .listsLeft__item--first {
      text-decoration: none;
      padding: 0;
      list-style: none;

      .display-None {
        display: none;
        width: 250px;
        position: fixed;
        z-index: 1;
      
        .categoryTree {
          background-color: red;
          flex-direction: column;
          position: relative;
        
          li {
            position: relative;
            list-style: none;
          }
        
          .subcatTree {
            display: none;
            position: absolute;
            left: 245px;
            top: 0px;
            width: 250px;
            list-style: none;
            background-color: blue;
        
            .itemTree {
              display: none;
              position: absolute;
              left: 250px;
              top: 0px;
              width: 250px;
              list-style: none;
              background-color: yellow;
            }
          }
        }
      }
    }
  }
}


.header__all .header__all__main .nav .listsLeft__item {
  a {
    color: #333;
    text-decoration: none;
    //padding-right: 80px;//
  }

  line-height: 38px;
  //padding: 0 0 0 16px;//
  list-style: none;
}

.listsLeft__item__second {
  position: absolute;
  left: 110px;
  width: 140px;
}

.header__all .header__all__main .nav {
  .lists-Right {
    margin-left: auto;
    display: flex;
    .lists-Right__item {
      a {
        display: flex;
        align-items: center;
        color: #333;
        text-decoration: none;
        line-height: 32px;
      }
  
      color: #333;
      line-height: 38px;
      padding: 0 0 0 16px;
      list-style: none;
    }
  }
  }



// ここまでTOP

.main .main-Visual {
  width: 100%;
  height: 560px;
  background-image: image-url("Main-top-view.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  .content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 35px 0 0 0;
  }

  .content__sub-title {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    font-size: 60px;
    line-height: 1.2;
    color: #fff;
  }

  .content__text {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    color: #fff;
    line-height: 1.77778;
    margin: 16px 0 0 0;
  }

  .content__btn {
    display: flex;
    margin: 24px 0 0 0;

    .apple-Btn, .google-Btn {
      width: 180px;
      display: block;
      transition: opacity 0.15s;
    
      &:hover {
        opacity: 0.55;
      }
    }
  }
}



.main .top-Introduction {
  padding: 60px 20px;

  .sub-title {
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }

  .lists {
    text-align: center;
    display: flex;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;

    .list {
      width: 30%;
      height: 30%;
      list-style: none;
    }
  }
}


.main .top-Introduction .lists {
  .list .list__pict {
    position: relative;
    margin-bottom: 20px;

    .number {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4%;
      font-size: 30px;
      text-align: center;
      margin: 0 5px 0 0;
      padding: 10px 20px;
      background-color: #3CCACE;
      color: #fff;
    }
  }

  .list__text span {
    color: #3CCACE;
  }
}

img {
  width: 100%;
  vertical-align: bottom;
}

.main {
  .top-MiddleDl {
    background-image: image-url("Main-top-view2.jpg");
    background-position: bottom right;
    height: 400px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
  }

  .top-MiddleDl__inner {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    text-align: left;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;

    .text {
      margin: 20px 0 30px;
    }

    .btn{
      display: flex;

      .apple-Btn, .google-Btn {
      width: 180px;
      display: block;
      transition: opacity 0.15s;
    
        &:hover {
          opacity: 0.55;
        }
      }
        a {
          margin-right: 10px;
        }
    }
  }
}



// 古賀さん
.top-KeyFeatures {
  padding: 60px 100px;
  background-color: white;
  .head {
    font-size: 27px;
    text-align: center;
    margin: 0 0 40px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
    .after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .items {
    max-width: calc(1040px + 20px);
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    .item {
      display: flex;
      flex-direction: column;
      width: 30%;
      text-align: center;
      padding: 0 10px;
      .item__img {
        width: 70%;
        margin:0 auto;
        line-height: 120px;
        .image {
          height: 300px;
        }
      }
      .item__sub-title {
        margin: 38px 0 10px;
        font-size: 19px;
        font-weight: bold;
      }
      .item__detail {
        margin: 0 0 40px;
        font-size: 17px;
        font-weight: 200;
        text-align: left;
      }
    }
  }
}

.pickupContainer__first {
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
  .head {
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  .productBox{
    a {
      text-decoration: none;
    }
    
    .productHead{
      text-align: center;
      
      .title {
        font-size: 24px;
        font-weight: bold;
        color: #3CCACE;
      }
    }
    .productLists {
      width: 780px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
      .productList {
        width: 220px;
        display: inline-block;
        
        .productList--img {
          position: relative;
          overflow: hidden;
          margin: 0;
          z-index: auto;
          display: block;
          transition: opacity 0.15s;
        
          &:hover {
            opacity: 0.55;
          }
        }
        .productList--body {
          background-color: white;
          color: #333;
          padding: 16px;
          .name {
            line-height: 1.5;
            font-size: 14px;
            font-weight: bold;
            text-align: left;
          }
          .fa {
            display: inline-block;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
        }
      }
    }
  }
}


.pickupContainer__second {
  padding: 80px 0 0;
  padding-bottom: 80px;
  background-color: #f8f8f8;
  height: 100%;
  .head {
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  .productBox{
    a {
      text-decoration: none;
    }
    .productHead{
      text-align: center;
      .title {
        font-size: 24px;
        font-weight: bold;
        color: #3CCACE;
      }
    }
    .productLists {
      width: 780px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
      .productList {
        width: 220px;
        display: inline-block;
        .productList--img {
          position: relative;
          overflow: hidden;
          margin: 0;
          z-index: auto;
          display: block;
          transition: opacity 0.15s;

          &:hover {
            opacity: 0.55;
          }
        }
        .productList--body {
          background-color: white;
          color: #333;
          padding: 16px;
          .name {
            line-height: 1.5;
            font-weight: bold;
            font-size: 14px;
            text-align: left;
          }
          .fa {
            display: inline-block;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
        }
      }
    }
  }
  font-weight: bold; font-size: 14px;
}

.Banner {
  padding: 100px 40px ;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: image-url("banner-background.jpg");
  .inner {
    color: #fff;
    text-align: center;

    .inner__title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    .inner__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
  }
  .inner__icon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
    .apple-Btn, .google-Btn {
      width: 180px;
      display: block;
      transition: opacity 0.15s;
    
      &:hover {
        opacity: 0.55;
      }
    }
  }
}

.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  margin: 0;
  a {
    text-decoration: none;
  }
  .contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    padding: 0;
    .content {
      display: flex;
      flex-direction: column;
      width: calc(1/3*100%);
      margin: 0 2% 0 0;
      .content__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  .footer__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
}

.purchase-Btn {
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4px;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  display: block;
  transition: opacity 0.15s;
      
        &:hover {
          opacity: 0.55;
        }
  .purchase-Btn__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  .purchase-Btn__icon {
    width: 60%;
  }
} 

// show　商品詳細ページ　//
.breadcrumbs {
  height: 55px;
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
}

.main {
  background-color: #f8f8f8;
  .showmain {
    padding: 40px;
    margin:0 auto;
    .contentleftqq{
      margin: 0;
      padding: 0;
    }
    .contentright {
      width: 700px;
      margin: 0 auto;
      .topcontent {
        margin: 0;
        padding: 0;
        .itembox {
          background-color: #fff;
          padding: 24px 40px 40px;
          .itembox__name {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            font-family: "Source Sans Pro",Helvetica,Arial,"遊ゴシック体","YuGothic","メイリオ","Meiryo",sans-serif;
          }
          .itembox__body {
            margin: 16px 0 0;
          }
          .itembox__price {
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            .itembox__price-price {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
              font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
            }
            .itembox__price-detail {
              font-size: 16px;
            }
          }
          .itemdetail {
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
            font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
          }
          .table {
            margin-bottom: 20px;
          }
          .optionalarea {
            justify-content: space-between;
            display: flex;
            list-style: none;
            .optional {
              margin: 10px 0 0;
              display: flex;
              .optionalbtn {
                font-size: 14px;
              }
            }
          }
        }
        .commentbox {
          padding: 24px 12px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          .commentcontents {
            margin: 0;
            padding: 0;
          }
          .new_comment {
            margin: 0;
            padding: 0;
            .comment_body {
              width: 100%;
              min-height: 104px;
              padding: 10px;
            }
            .noticemsg {
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            .commentbtn {
              line-height: 48px;
              background: #3ccace;
              border: 1px solid #3ccace;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
              .fa-comment {
                display: inline-block;
                color: #fff;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
              }
            }
          }
        }
      }
      .links {
        list-style: none;
        .links__a {
          float: left;
        }
        .links__b {
          float: right;
        }
      }
      .relateditems {
        margin: 0;
        padding: 0;
        .productlists {
          margin: 0;
          padding: 0;
          .productlist {
            margin: 0 0 10px;
            width: 30%;
            .productlist--img {
              background-color: #fff;
            }
            .productlist--body {
              background-color: white;
              color: #333;
              padding: 16px;
              width: 232px;
              .name {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                font-weight: normal;
                text-align: left;
              }
              .details {
                font-size: 16px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}