.paymentHeader{
  display:flex;
  padding: 30px 0;
  margin:0 auto;
  justify-content:space-evenly;
  h1{
    padding: 0;
    img{width:185px;}
  }
}

.payment{
  width:700px;
  margin:0 auto;
  padding-bottom:24px;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
  main{
    >*+*{
      border-top:1px solid rgb(245, 245, 245);
      margin:0 auto;
      width:500px;
      padding:24px 16px;
    }
  }
  &Detail {
    display:flex;
    &Image {
      display: flex;
      align-items: center;
      justify-content: center;
      height:150px;
      width:150px;
    }
    &Description{
      font-size:24px;
      margin:auto 0 auto auto;
      line-height:1.4;
      &--price{
        text-align:right;
        font-size:20px;
        >*+*{
          font-size:20px;
          font-weight:bold;
          margin:0 0 0 8px;
        }
      }
    }
  }
  &Amount{
    display: flex;
    justify-content: space-between;
    &--total{
      font-size:20px;
      font-weight:bold;
    }
    &--price{
      font-size:24px;
    }
  }
  &Method{
    padding:0!important;
    .card{
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 24px 16px;
      &_type{
        font-size: 20px;
        font-weight: bold;
      }
      &_num{
        font-size: 20px;
      }
      &_name{
        text-align: right;
        width: 100%;
      }
      &_registration{
        padding: 24px 16px 0;
        &--title{
          font-size: 20px;
          font-weight: bold;
        }
        &--comment{
          display: block;
          text-align: center;
          margin: 20px 0 0;
          color: #f00;
        }
      }
    }
    .soldOut{
      padding: 24px 16px 0;
      font-size: 30px;
      font-weight:bold;
      text-align: center;
      color: #f00;
    }
  }
  &DeliveryAddress{
    text-align: right;
    h3{
      text-align: left;
    }
    svg{
      vertical-align: middle;
    }
  }
  #new_form{
    border-top: 1px solid whitesmoke;
    margin: 0 auto;
    padding: 0;
  }
  &Quantity{
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    span{
      font-size: 20px;
      font-weight: bold;
    }
    input{
      display: block;
      width: 200px;
      height: 48px;
      margin: 0 0 0 auto;
      text-align: right;
    }
  }
  .paymentPurchase{
    border-top: 1px solid whitesmoke;
    padding: 24px 16px;
    text-align: center;
    &--caution{
      font-size:14px;
      color:red;
      margin:0 auto;
    }
    &--button{
      background:#3CCACE;
      border:1px solid #3CCACE;
      color:#fff;
      display:block;
      height:50px;
      width:60%;
      font-size:20px;
      border-radius:10px;
      margin:0 auto;
    }
  }
}

.paymentFooter{
  background: #272727;
  margin: 0 auto;
  width: 700px;
  padding: 30px;
  font-size: 12px;
  text-align: center;
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    &--li{
      width: 160px;
      margin: 10px;
      &:last-child{
        width: 300px;
      }
      a{
        color:#ffffff;
        img{
          width:160px;
        }
      }
    }
  }
  .company{
    small{
      font-size: 16px;
      color:#ffffff;
    }
  }


}