*{margin:0;padding:0;box-sizing:border-box;text-decoration:none;list-style:none;color:black;}
body{background:#f5f5f5;}

.single-header {
  background:#f5f5f5;
  text-align:center;
}
.single-header h1 {
  padding-top:3vw;
}
.single-header h1 img {
  width:35vw;
}
.single-header .regiNavi {
  padding:3vw 0 7vw;
  border-top:1px solid #eee;
  font-size:0;
}
.single-header .regiNavi li {
  display:inline-block;
  width:20vw;
  margin:0 1vw;
  position:relative;
  font-size:3vw;
  color:#888;
}
.single-header .regiNavi li::before{
  content:'';
  background:#ccc;
  display:inline-block;
  width:2.5vw;
  height:2.5vw;
  position:absolute;
  top:5vw;
  left:45%;
  border-radius:50%;
  z-index:1;
}
.single-header .regiNavi li:nth-last-of-type(n+2)::after{
  content:'';
  background:#ccc;
  display:inline-block;
  width:20vw;
  height:2px;
  position:absolute;
  top:6vw;
  left:55%;
}
.single-header .regiNavi li.active {
  font-weight:600;
  color:#3CCACE;
}
.single-header .regiNavi li.active::before {
  background:#3CCACE;
}

.registration,.session{
  background:white;
  padding-bottom:10vw;
  &Header {
    padding:4vw;
    border-bottom:1px solid #eee;
    text-align:center;
    font-size:5vw;
    p{font-size:3.5vw;}
    a{
      margin:10vw auto 0;
      background:#3CCACE;
      border:1px solid #3CCACE;
      color:#fff;
      display:block;
      width:90%;
      line-height:12vw;
      font-size:4vw;
      border-radius:1vw;
    }
  }
  &Content{
    width:92vw;
    margin:0 auto;
    .formGroup{
      font-size:0;
      margin:10vw 0 0;
      label,h3 {
        display:inline-block;
        font-weight:600;
        font-size:4vw;
      }
      .inputDefault,.selectDefault {
        width:100%;
        margin:1vw 0 0;
        height:12vw;
        padding:1vw 4vw;
        border-radius:1vw;
        border:1px solid #ccc;
        font-size:4vw;
      }
      .inputDefault:focus,.selectDefault:focus {
        border:2px solid #3CCACE;
        outline:0;
      }
      &-require{
        background:#3CCACE;
        margin-left:3vw;
        padding:1vw 2vw;
        border-radius:1vw;
        color:#fff;
        font-size:3vw;
        vertical-align:top;
      }
    }
    .revealedPassword {
      background:#ccffee;
      padding:0 3vw;
      border-radius:1vw;
      font-size:4vw;
      overflow:hidden;
    }
    .formGroup.half{
      .inputDefault{
        width:45vw;
        &:last-of-type{margin-left:2vw;}
      }
    }
    .formGroup.birthday{
      >span{
        display:inline-block;
        width:25vw;
        position:relative;
        &::after{
          content:'';
          display:block;
          width:5vw;
          height:5vw;
          position:absolute;
          bottom:4vw;
          left:103%;
          font-size:4vw;
        }
        &:nth-of-type(1)::after{content:'年';}
        &:nth-of-type(2)::after{content:'月';}
        &:nth-of-type(3)::after{content:'日';}
        &:nth-of-type(n+2){margin-left:6vw;}
      }
    }
    .submit input{
      margin:10vw auto 0;
      background:#3CCACE;
      border:1px solid #3CCACE;
      color:#fff;
      display:block;
      width:90%;
      line-height:12vw;
      font-size:4vw;
      border-radius:1vw;
    }
    &+a{
      display: block;
      width: 80vw;
      margin: 10vw auto 0;
      font-size: 4vw;
    }
  }
  .formGroupInfo{
    margin:2vw 0;
    font-size:3.5vw;
    color:#888;
  }
}

.single-footer{
  background:#272727;
  padding:10vw;
  text-align:center;
  font-size:3vw;
}
.single-footer ul{
  margin-bottom: 10vw;
}
.single-footer li{
  margin:3vw;
}
.single-footer li a{
  color:white;
}
.single-footer img{
  width:30vw;
}
.single-footer small{
  font-size:4vw;
  color:white;
}





@media screen and (min-width:768px){

  .single-header {
    display:flex;
    width:700px;
    padding:30px 0;
    margin:0 auto;
    justify-content:space-evenly;
  }
  .single-header h1 {
    padding:0;
  }
  .single-header h1 img {
    width:185px;
  }
  .single-header .regiNavi {
    padding:0;
    font-size:0;
    border-top:0;
  }
  .single-header .regiNavi li {
    width:100px;
    margin:0 5px;
    font-size:12px;
  }
  .single-header .regiNavi li::before{
    width:12px;
    height:12px;
    top:25px;
    left:43%;
  }
  .single-header .regiNavi li:nth-last-of-type(n+2)::after{
    width:100px;
    top:30px;
  }

  .registration,.session{
    width:700px;
    margin:0 auto;
    padding-bottom:24px;
    &Header {
      padding:32px;
      font-size:22px;
      p{font-size:14px;}
      a{
        margin:8px auto 0;
        width:48%;
        line-height:48px;
        font-size:14px;
        border-radius:4px;
      }
    }
    &Content{
      width:340px;
      .formGroup{
        margin:24px 0 0;
        label,h3 {
          font-size:14px;
        }
        .inputDefault,.selectDefault {
          margin:3px 0 0;
          height:48px;
          padding:10px 14px;
          border-radius:4px;
          font-size:16px;
        }
        &-require{
          margin-left:8px;
          padding:2px 4px;
          border-radius:2px;
          font-size:12px;
        }
      }
      .revealedPassword {
        padding:2px 4px;
        border-radius:4px;
        font-size:16px;
      }
      .formGroup.half{
        .inputDefault{
          width:49%;
          &:last-of-type{margin-left:2%;}
        }
      }
      .formGroup.birthday{
        >span{
          width:26%;
          &::after{
            width:3%;
            height:3%;
            bottom:33px;
            left:103%;
            font-size:16px;
          }
          &:nth-of-type(n+2){margin-left:8%;}
        }
      }
      .submit input{
        margin:24px auto 0;
        line-height:48px;
        font-size:14px;
        border-radius:4px;
      }
      &+a{
        width: 50%;
        margin: 40px auto 0;
        font-size: 14px;
      }
    }
    .formGroupInfo{
      margin:10px 0;
      font-size:14px;
    }
  }

  .single-footer{
    margin:0 auto;
    width:700px;
    padding:30px;
    font-size:12px;
  }
  .single-footer ul{
    display:flex;
    justify-content:center;
    margin-bottom: 30px;
  }
  .single-footer li{
    width:160px;
    margin:10px;
  }
  .single-footer img{
    width:160px;
  }
  .single-footer small{
    font-size:16px;
  }
}